$bgheadlight:linear-gradient(to left,rgba(247,201,243,1), rgba(65,128,246,1));
$fontregular: 'Chakra Petch', sans-serif;
$sizehead: 12px;

// BUTTON 
$sizebutton: 16px;
$buttoncolor: rgba(17,0,56,1);
$buttonbg: rgba(247,201,243,1);
$buttonshadow: inset -1px -1px rgba(153,125,151,1), inset 1px 1px rgba(255,255,255,1);

// BUTTON HOVER
$buttonbghover: rgba(230,187,226,1);
$borderhover: 1px dotted rgba(17,0,56,1);

// BOLD
$sizeheadbold: 14px;
$headcolorbold: rgba(255,255,255,1);

// CARDS

$bgcards: rgba(230,230,230,1);
$shadowcards: inset -2px -2px rgba(180,180,180,1), inset 2px 2px rgba(255,255,255,1);

// BUSCADOR SUGERENCIAS Y TENDENCIAS 

$buscador: inset -2px -2px rgba(230,220,228,1), inset 2px 2px rgba(128,104,125,1);
$borderbuscador: 1px solid rgba(230,187,226,1);

// BUTTON VER MAS 

$bgvermas: rgba(65,128,246,1);
$bordervermas: 1px solid rgba(76,47,153,1);
$insetvermas: inset -2px -2px rgba(40,79,153,1), inset 2px 2px rgba(255,255,255,1);




