.sectionVideo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
    .containerVideobox{
        width: 860px;
        height: 548px;
        background-color: $bgcards;

        box-shadow: $shadowcards;
        
        .headerVideo{
            background-image: $bgheadlight;
            box-shadow: inset -2px 0px rgba(180,180,180,1), inset 2px 0px rgba(255,255,255,1); 
            height: 24px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                margin-left: 6px;
                color: $headcolorbold;
                font-family: $fontregular;
                font-size: $sizeheadbold;
            }

            img{
                margin-right: 14px;
            }
        }

        .containerVideo{
            margin-left: 12px;
            margin-top: 10px;
            border: 1px solid rgba(151,151,151,1);
            width: 832px;
            height: 434px;

            background-color: white;
            box-shadow: inset -2px -2px rgba(230,230,230,1), inset 2px 2px rgba(0,0,0,1);

            .video,
            .video2,
            .uploading{
                height: 428px;
                width: 826px;
                margin: 2px 0px 0px 2px;
                object-fit: inherit;
            }
            
            .video2 {
                display: none;
            }

            .uploading {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                img{
                    margin-bottom: 8px;
                }
                
                .weareup {
                    margin-bottom: 40px;
                    font-family: $fontregular;
                    color: $buttoncolor;
                    font-size: $sizebutton;
                }

                .carga2{
                    width: 324px;
                    height: 22px;
                    background-color: rgba(180,180,180,1);
                    box-shadow: inset -2px -2px  white, inset 2px 2px rgba(0,0,0,1);
                    
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    .barra2{
                        
                        width: 60%;
                        height: 20px;
                        background-color: pink;
                    }

                    .timeSquare.loadSquare{
                        background-color: rgba(247,201,243,1);

                    }
                    .timeSquare {
                        // animation: barra-2 3s;
                        display: block;
                        width: 15px;
                        height: 20px;
                        background-color: #999999;
                        margin: 2px;
                    }
                }

                @keyframes barra-2 {
                    0% {
                        width: 0;
                    }
                }

                .timeyears {
                    margin-top: 10px;
                    color: rgba(17,0,56,0.64);
                    font-size: $sizehead;
                    font-family: $fontregular;

                    span{
                        text-decoration: line-through;
                    }
                }
            }

        }

        .capture{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 21px;

            .buttonsLeft{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 60px;

                .seconds{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 124px;
                    height: 36px;
                    background-color: white;
                    border: 1px solid rgba(151,151,151,1);
    
                    box-shadow: inset -2px -2px rgba(230,230,230,1), inset 2px 2px rgba(0,0,0,1);
    
                    font-family: $fontregular;
                    font-size: $sizebutton;
                    color: $buttoncolor;
                }

                .play{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    border: 1px solid rgba(17,0,56,1);
                    background-color: $buttonbg;
                    margin: 0px 4px 0px 24px;
    
                    box-shadow: $buttonshadow;
                    /////////////////////////////////////////////// de aqui
                    cursor: pointer;
    
                }

                .play:hover {
                    outline: $borderhover;
                    background-color: $buttonbghover;
                    outline-offset: -4px;

                }
                    //////////////////////////////////////////////////// hasta aquí
                .carga{
                    width: 240px;
                    height: 22px;
                    background-color: rgba(180,180,180,1);
                    box-shadow: inset -2px -2px  white, inset 2px 2px rgba(0,0,0,1);

                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    .cargando.loadSquare{
                        background-color: rgba(247,201,243,1);

                    }

                    .cargando {
                        display: block;
                        width: 11px;
                        height: 20px;
                        background-color: #999999;
                        margin: 2px;
                    }
    
                }
            }


            .buttonsRight{
                display: flex;
                justify-content: center;
                margin-right: 6px;

                .imgCamera{
                    margin-left: 580px;
                    width: 36px;
                    height: 36px;
                    border: 1px solid $buttoncolor;
                    background-color: $buttonbg;
                    box-shadow: $buttonshadow;
                    // margin-left: 665px;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    cursor: pointer;
                }

                .textCapture{
                    width: 144px;
                    height: 36px;
                    border: 1px solid $buttoncolor;
                    background-color: $buttonbg;
                    box-shadow: $buttonshadow;
                    border-left: none;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    cursor: pointer;

                    font-family: $fontregular;
                    font-size: $sizebutton;

    
                    p{
                        font-family: $fontregular;
                        font-size: $sizebutton;
                    }
                }

                .repetir {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    width: 144px;
                    height: 36px;
                    font-size: $sizebutton; 
                    font-family: $fontregular;

                    color: $buttoncolor;
                    background-color: rgba(255,244,253,1);
                    border: 1px solid $buttoncolor;
                    box-shadow: $buttonshadow;
                }
                ///////////////////////////////////////// de aquí

                .repetir:hover {
                    outline: $borderhover;
                    background-color: rgba(240,229,238,1);
                    outline-offset: -4px;
                }
                /////////////////////////////////////////// hasta aquí

                .upload{
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    width: 144px;
                    height: 36px;
                    border: 1px solid $buttoncolor;
                    background-color: $buttonbg;
                    box-shadow: $buttonshadow;
                    margin-left: 14px;
                    //////////////////////
                    cursor: pointer;
    
                    p{
                        font-family: $fontregular;
                        font-size: $sizebutton;
                        color: $buttoncolor;                    
                    }
    
    
                }
                //////////////////////////////////////// here
                .upload:hover {
                    outline: $borderhover;
                    background-color: $buttonbghover;
                    outline-offset: -4px;
                }
                ///////////////////////////////////////// to here
            }




            .imgCamera:hover {
                outline: $borderhover;
                background-color: $buttonbghover;
                outline-offset: -4px;

            }

            .textCapture:hover {
                outline: $borderhover;
                background-color: $buttonbghover;
                outline-offset: -4px;

            }
        }
    }
}